.container {
  min-height: 100vh;
  border: 2px solid black;
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-size: contain, 500px;
  background-position: right, left;
  background-color: hsl(240, 78%, 98%);
  text-align: center;
  color: #4f403e;
}

.Annually_Monthly_block {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 200%;
}

.flex-Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Card {
  height: 450px;
  width: 350px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
  margin-right: 3px;
}

.button {
  background-color: hsl(237, 63%, 64%);
  padding: 15px;
  border: 1px solid black;
  margin: 35px;
  border-radius: 50px;
  width: auto;
  height: auto;
  color: white;
}

.Card:hover {
  background-color: hsl(237, 63%, 64%);
  width: 400px;
  color: white;
}


.Card:hover .button-transition {
  background-color: white;
  color: black;
}

.switch {
  margin-top: 40px;
  margin-left: 20px ;
  margin-right: 20px ;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}
.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius:50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left : 20px;
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}
.checkbox {
  display : none;
}