.container {
  min-height: 100vh;
  border: 2px solid black;
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-size: contain, 500px;
  background-position: right, left;
  background-color: hsl(240, 78%, 98%);
  text-align: center;
  color: #4f403e;
}

.Annually_Monthly_block {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 200%;
}

.flex-Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Card {
  height: 450px;
  width: 350px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
  margin-right: 3px;
}

.button {
  background-color: hsl(237, 63%, 64%);
  padding: 15px;
  border: 1px solid black;
  margin: 35px;
  border-radius: 50px;
  width: auto;
  height: auto;
  color: white;
}

.Card:hover {
  background-color: hsl(237, 63%, 64%);
  width: 400px;
  color: white;
}


.Card:hover .button-transition {
  background-color: white;
  color: black;
}


.switch {
  margin: 33px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}